#game-screen {
	background-color: blue;
	border: 1px solid black;
	border-radius: 5px;
	width: 50%;
	aspect-ratio: 4 / 3;
	margin-left: 25%;
	position: absolute;
	overflow: hidden;
}

#map-screen {
	position: absolute;
	left: 0px;
	right: 0px;
}

#game-container {
	background-color: black;
}

.professor-rect {
	position: absolute;
}

.professor-sprite {
	position: absolute;
}
